<div class="flex items-center " style="margin: 1rem;">
	<textarea class="input input-bordered h-48 w-9/12 p-3 box-shadow text-blue-900" [(ngModel)]="text"></textarea>
	<div class="flex flex-col w-3/12">
		<div class="flex justify-between px-5">
			<button class="btn bg-[#009FE3] hover:bg-[#009fe3ad] box-shadow text-white"
				(click)="getCoords()">Send</button>
			<button class="btn bg-[#FBBA00] hover:bg-[#fbb800ad] box-shadow" (click)="reset()">Reset</button>
		</div>
		<div class="flex justify-center" *ngIf="loading">
			<span class="loader"></span>
		</div>

		<div >
			<input 
				class="slider range range-info range-xs" 
				type="range" 
				max={{places.length}}
				value={{displayedItems.length}} 
				step="1" 
				(input)="chageRangeValue($event)"
				[disabled]="currentIndex<places.length"
				>
		</div>
	
		<!--<ul class="range-labels" *ngIf="displayedItems.length>0">
			<li>0</li>
			<li *ngFor="let item of places; let i=index">{{i+1}}</li>
		  </ul>-->

	</div>
</div>
	<div class="list-places" [ngStyle]="{'right':displayedItems.length>0 ? '0':'-200px'}">
		<div *ngFor="let item of displayedItems">
			<p>{{item.name}}</p>
			<p>{{item.country}}</p>
			<p>{{item.latitude}}</p>
			<p>{{item.longitude}}</p>
			<p>occurrences:{{item.occurrences}}</p>
			<p>{{item.overall_sentiment}}</p>
			<hr>
		</div>
	</div>
	<div id="map" class="box-shadow" >
	</div>

<img *ngIf="markers.length > 0" src="assets/center.png" width="30"
	style="position:fixed; top:15rem; left:60px; z-index:10000; cursor:pointer " (click)="center()" />

	